.header { 
    color: #F9FBF2;
    background-color: #7A0018;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;

    &__title {
        font-family: 'Tangerine', cursive;
        font-size: 3rem;
        font-weight: bold;
        padding-left: 1rem;
    }

    .connexion {
        display: flex;
        flex-direction: column;
        padding-left: 2rem;

        a {
            background-color: #f9fbf221;
            padding: 0.4rem;
            margin: 0.2rem;
        }
    }
}   
