/* page */
html {
    background-color: #F9FBF2;
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
}

body {
    display: flex;
    justify-self: stretch;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}


/* partials */
.main-container {
    text-align: center;
    height: 100%;
    /* display: flex;
    flex-wrap: wrap; */
    padding: 10px 0;
}

.home h1 {
    font-size: 3em;
}

.home p {
    padding-top: 3em;
    width: 30%;
    margin: auto;
}

header, footer {
    background-color: #7A0018;
}

header {
    padding: 20px 40px; 
    color: #F9FBF2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
}

nav a {
    padding-left: 10px;
    font-size: 1.2em;
}

h1 {
    font-weight: bold;
    font-size: 2.2em;
}

footer {
    padding: 10px;
    width: 100%;
    height: 60px;
    line-height: 2.4em;
    color: #F9FBF2;
}

/* Commun à books et author */
.title-article {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 1em;
}

.container-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* view books */
.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 460px;
    margin: 30px;
    border-radius: 3px;
    box-shadow: inset 2px 2px 4px rgba(202, 202, 202, 0.5), 4px 4px 4px rgba(0, 0, 0, 0.5);
    transition: ease-in-out 0.2s;
}

.book-card:hover {
    transform: scale(1.1);
}

.book-card-header-footer {
    align-self: center;
}

.img-left-text-right {
    display: flex;
    align-items: center;
}

.img-left-text-right p {
    width: 330px;
}

img {
    align-self: center;
    padding: auto;
    height: 250px;
    margin-right: 20px;
}

.book-card h2 {
    font-weight: bold;
    padding: 10px 5px;
    text-align: center;
}

h3 {
    font-size: 0.9em;
    padding-bottom: 10px;
    text-align: center;
}

.book-card-summary {
    font-size: 0.8em;
    padding-bottom: 10px;
    text-align: justify;
}

.summary {
    font-weight: bold;
    text-decoration: underline;
}

.book-card-priceNumber {
    font-weight: bold;
}

.book-card-paperback-price {
    padding-bottom: 10px;
}


/* view authors */
.author-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.2em;
    padding: 10px;
    width: 350px;
    margin: 30px auto;
    border-radius: 3px;
    box-shadow: inset 2px 2px 4px rgba(202, 202, 202, 0.5), 4px 4px 4px rgba(0, 0, 0, 0.5);
    transition: ease-in-out 0.2s;
}

.author-card:hover {
    transform: scale(1.1);
}

.author-title {
    font-size: 1.5em;
    padding-bottom: 1.4em;
    font-weight: bold;
}

.author-card p {
    text-align: left;
}

