<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300;400;600;700&display=swap" rel="stylesheet">
    

    <title>API bibliO</title>

</head>
<body>

    <header class="header">
        
        <h1><a href="/">Bibli ' O</a></h1>

        <nav class="navbar">
            <div class="nav">
                <a href="/api/books">
                    Livres
                </a>
                <a href="/api/genres">
                    Genres
                </a>
                <a href="/api/authors">
                    Auteurs
                </a>
                <a href="/api/publishers">
                    Editeurs
                </a>
            </div>

            <div class="connexion">
                <% if (locals.user) { %>
                    <a class="" href="/api/logout">Se déconnecter</a>
                    <a href="#">Bonjour <%= user.firstname %></a>
                <% } else { %>
                    <a class="" href="/api/login">Se connecter</a>
                    <a class="" href="/api/signup">S'inscrire</a>
                <% } %>
            </div>

        </nav>

    </header>

    <main class="main-container">