// font-family: 'Josefin Slab', serif;
// font-family: 'Tangerine', cursive;

html {
    background-color: #F9FBF2;
    font-family: 'Josefin Slab', serif;
    // display: flex;
    // min-height: 100vh;
}

body {
    // display: flex;
    // flex-direction: column;
    width: 100%;
    // padding: 10px;
    border: 1px solid green;
}