// font-family: 'Josefin Slab', serif;
// font-family: 'Tangerine', cursive;

html {
    background-color: #F9FBF2;
    font-family: 'Josefin Slab', serif;
}

body {
    width: 100%;
    border: 1px solid green;
}