<%- include('partials/header') %>
    
<h2 class="title-article">
    Liste des genres
</h2>

<div class="container-article">

<% for (const genre of genres) { %>
    <article class="genre-card">
        <a href="#">
            <h2 class="genre-title"> 
                <%= genre.label %> 
            </h2>
    </a>
    </article>
<% } %>

</div>

<%- include('partials/footer') %>