<%- include('partials/header') %>
    
    <div class="home">
        <h1>Bienvenu sur bibli'O</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur adipisci magni consequuntur sint veritatis officia perspiciatis quos deleniti? Doloribus porro ducimus in maiores voluptas explicabo eveniet ex rem? Aspernatur, hic.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum nostrum recusandae corrupti adipisci quisquam eveniet natus eligendi quaerat a consectetur similique, impedit iure consequatur perferendis nulla officiis velit accusantium numquam.
        </p>
    </div>
    
<%- include('partials/footer') %>