<%- include('partials/header') %>
    
<h2 class="title-article">
    Liste des éditeurs
</h2>

<div class="container-article">

<% for (const publisher of publishers) { %>
    <article class="publisher-card">
        <a href="#">
            <h2 class="publisher-title"> 
                <%= publisher.name %>
            </h2>

            <p> Nationalité: <%= publisher.country %> </p>   
        </a>
    </article>
<% } %>

</div>

<%- include('partials/footer') %>